body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.header,
.hero {
    background-color: #1f2937;
}

.header .logo,
.hero .main-text {
    color: #f9faf8;
}

.header {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    font-size: 24px;
}

.header .links {
    display: flex;
    gap: 18px
}

.header .links,
.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    padding-top: 48px;
    display: flex;
    width: 100%;
    padding-bottom: 48px;
}

.hero .item {
    flex-basis: 100%;
}

.hero .text {
    padding-left: 128px;
}

.hero .main-text {
    font-size: 48px;
    font-weight: 800;
}

.img-placeholder {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 72px;
    margin-right: 72px;
}

button {
    background-color: #3882F6;
    color: white;
    border-color: #e5e7eb;
    border-radius: 10px;
}

button span {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    font-weight: bold;
}

.information {
    padding-bottom: 48px;
}

.information h2 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
}

.information .images {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.information .images img {
    box-sizing: border-box;
    width: 175px;
    height: 175px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.information .subtext {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.information .subtext * {
    width: 175px;
    text-align: center;
    font-style: italic;
}

.quote {
    background-color: #e5e7eb;
    padding-block: 48px;
    padding-inline: 128px;
}

.quote .main-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    color: black;
    font-weight: 900;
    text-align: right;
    font-size: 24px;
}

.call-to-action {
    padding-block: 48px;
    padding-inline: 128px;
}

.call-to-action .blue {
    background-color: #3882F6;
    width: 100%;
    border-radius: 10px;
}

.call-to-action .flex {
    display: flex;
    flex-wrap: wrap;
    padding-block: 48px;
    padding-inline: 72px;
    justify-content: center;
    color: #f9faf8;
    justify-self: center;
}

.call-to-action h5 {
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.call-to-action p {
    margin-block: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
}